
#particles-js{
  width: 100%;
  height: 100%; position: relative;
  background-color: #00b4b3;
  background-image: url('../../../img/backwhite.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: inherit;
            background-attachment: scroll;
            background-position: center top;
}
